@import url(/stylesheets/elements.css);
@import url(/stylesheets/classes.css);

h1 {color: #255c92; font-weight: 500; font-family: Tahoma, Arial, sans-serif; margin-top: 0; margin-bottom: 10px}
h2 {color: #7ca2bb; font-weight: 500; font-family: Tahoma, Arial, sans-serif;}
a img {border: 0;}
a {color: #1c4d7d; }
a:hover {color:#3974ac; }
#error, #notice { font-size: 1.2em; color: #fff; padding: .5em .75em; font-weight: bold; }
#error, #notice, .panel-overlay { text-shadow: -1px -1px 1px #000; }
#error { background: #b00; }
#notice { background: #0b0; }
#admin-menu .signout { padding: 0 5px !important; }
body { margin: 0; padding: 0; font-family: Tahoma, Arial, Sans-Serif; font-size: 15px; color: #333; background: #8a734e url(/plugin_assets/z_b2bbreakfast/images/body-bg.jpg) repeat-x center 258px; line-height: 1.6em; position: relative; z-index: 0; }
  #upcoming-event { width: 385px; height: 77px; position: absolute; right: 45px; top: 64px; z-index: 5; background: url(/plugin_assets/z_b2bbreakfast/images/first-tuesdays.jpg) no-repeat left top; color: #fff; -moz-box-shadow: 4px 4px 0 rgba(37,92,146,.45); -webkit-box-shadow: 4px 4px 0 rgba(37,92,146,.45); box-shadow: 4px 4px 0 rgba(37,92,146,.45); padding: 100px 0 0 28px;}
    #upcoming-event p { margin: 0; line-height: 1.2em; font-size: 1.1em; }
      #upcoming-event span { font-size: .7em; }
      #upcoming-event #sign-up { background: url(/plugin_assets/z_b2bbreakfast/images/sign-up.png) no-repeat left top; width: 159px; height: 44px; display: block; text-indent: -9999px; float: right; margin: 8px -12px 0 0; }
  #header-middle, #menu-middle, .submenu-middle, #content-middle { width: 960px; margin: 0 auto; overflow: hidden; }
  #wrapper-inner { background: url(/plugin_assets/z_b2bbreakfast/images/sb-beach.jpg) repeat-x center 50px; }
      .admin #wrapper-inner { background-position: center top;} 
    #menu-outer { }
  #header-outer { width: 960px; margin: 0 auto; position: relative; z-index: 6; }
    #header-middle { position: absolute; width: 305px; }
  #menu-outer { background: #3974ac; height: 32px; text-shadow: -1px -1px 1px #0C1B2F; }
      #menu-inner { margin: 0; padding: 0; position: relative; left: 305px; }
        #menu-inner li { display: block; float: left; line-height: 32px; margin: 0 15px; font-size: .85em; }
          #menu-inner li a { color: #fff; text-decoration: none; text-transform: uppercase; }
  .submenu-outer { background: #255c92; height: 26px; text-shadow: -1px -1px 1px #0C1B2F; }
    .submenu-inner { margin: 0; padding: 0; line-height: 24px; position: relative; left: 305px;}
      .submenu-inner li { float: left; display: block; margin: 0 15px; }
        .submenu-inner li a { color: #fff; font-size: .7em; text-decoration: none; text-transform: uppercase; }
  #menu-inner li a:hover, .submenu-inner li a:hover { color: #cde2f6; }
  #crumb { font-size: .8em; margin: 0 0 10px 0; }
  #content-middle { position: relative; top: 136px; z-index: 2; }
    .admin #content-middle { top: 176px; }
  #content-inner { background: #F9F6EB; }
  #content-inner { background: rgba(255,255,255,.9); width: 715px; float: left; padding: 15px; -moz-box-shadow: 4px 4px 0 rgba(15,15,15,.4); -webkit-box-shadow: 4px 4px 0 rgba(15,15,15,.4); box-shadow: 4px 4px 0 rgba(15,15,15,.4); margin: 0 0 200px 0; text-shadow: 1px 1px 1px #fff; }
    .admin #content-inner { width: 930px; }
  #main-column { min-height: 600px; }
  #side-content { width: 200px; min-height: 200px; background: #f8f1d3; right: 4px; position: absolute; top: 30px; padding: 38px 15px 15px; -moz-box-shadow: 4px 4px 0 rgba(15,15,15,.4); -webkit-box-shadow: 4px 4px 0 rgba(15,15,15,.4); box-shadow: 4px 4px 0 rgba(15,15,15,.4); z-index: 3; }
    #side-content h1 { color: #9b7e4f; font-size: 1.6em; }
    #presenting-sponsors { margin: 10px 0 25px 0; }
    .with-side-column #main-column { width: 480px; float: left; }
    .with-side-column #side-column { width: 203px; margin: 50px 0 0 15px; float: left; }
      #side-column h1 { color: #9b7e4f; }
        #side-column .date { padding: 2px 0; font-size: .8em; }
      #side-content .events { margin: 0; padding: 10px 0; }
      #side-content .events li { margin: 0 0 2px 0; line-height: 1.7em;  }
      #side-content .event_date { width: 50px; float: left; margin: 0 20px 20px 0; text-align: center; padding: 4px; background: #fbfaf2; font-size: .9em; margin: 0 2px 0 0; height: 77px; }
      #side-content .event_sponsor { background: #fff; padding: 10px; float: left; width: 120px; height: 65px; }
      #side-content .event_date .month, #side-content .event_date .day, #side-content .event_date .date { display: block; font-size: 1.4em; }
      #side-content .event_date .date { font-size: 2.4em; margin: 5px 0 0; }
      #side-content .events .event_tag { font-size: .65em; }
      #side-content .event_description p { margin: 5px 0; }
      #side-content .links { list-style: none; margin: 0; padding: 0; }
        #side-content .links li { float: left; background: #fff; padding: 5px; width: 89px; height: 48px; line-height: 48px; display:block; text-align: center; }
          #side-content .links li.left { margin: 0 1px 2px 0; }
          #side-content .links li.right { margin: 0 0 2px 1px; }
          #side-content .links li img { vertical-align: middle; }
  #pre-content-middle { min-height: inherit; }
  #footer-inner { font-size: .8em; line-height: 1.2em; padding: 40px 0 10px 0; }
  #footer-menu { margin: 0; padding: 0; list-style: none; font-size: .9em; }
    #footer-menu li { float: left; margin: 0 10px 0 0; display: block; }
    
  #google_map { width: 200px !important; }
  h1 a { text-decoration: none; }
  .panel-overlay h2 { font-size: 1.3em !important; }