- unless @upcoming_events.empty?
  #upcoming-event
    = link_to("Sign up today!", @upcoming_events.first, :id => "sign-up")
    %p
      %span Next Event: 
      = @upcoming_events.first.date_and_time.strftime("%B %d, %Y")
    - if @upcoming_events.first.link_id
      - link = Link.find_by_id(@upcoming_events.first.link_id)
      %p
        %span Sponsored By: 
        = link.title